INFOMANIAK_API_TOKEN=your_oauth2_token_here
INFOMANIAK_API_APP_CLIENT_ID=your_app_client_id_here
INFOMANIAK_API_APP_CLIENT_SECRET=your_app_client_secret_here
INFOMANIAK_AI_BASE_URL=https://api.infomaniak.com/1/ai
EURIA_DEFAULT_TEXT_MODEL=mixtral
EURIA_DEFAULT_EMBEDDING_MODEL=text-embedding-3-small
EURIA_DEFAULT_IMAGE_MODEL=sdxl
EURIA_DEFAULT_AUDIO_MODEL=whisper-1
EURIA_TIMEOUT=60
EURIA_IMAGE_FORMAT=square
EURIA_EVENTS_ENABLED=true