includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Foundation\\Application#'
    checkMissingIterableValueType: false
